<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>com.test</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestFetch</servlet-name>
        <servlet-class>com.TestFetch</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestFetch</servlet-name>
        <url-pattern>/TestFetch</url-pattern>
    </servlet-mapping>

</web-app>
