<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>TestFetch</servlet-name>
        <servlet-class>com.SUPAUTIL.TestFetch</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestFetch</servlet-name>
        <url-pattern>/TestFetch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestPage</servlet-name>
        <servlet-class>com.UI.TestPage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestPage</servlet-name>
        <url-pattern>/testpage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.UI.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>

</web-app>
